* {
    margin: 0px;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    justify-content:space-evenly;
    background-color: #ECDDB6;
    background-image: url(../img/background.jpg);
    background-size: cover;
    padding-top: 20px;
    color: white;
    
}

img {
    border-radius: 300px;
    margin-left: 30px;
    padding: 0px;
    border: solid black 10px;
    box-shadow: 10px 10px 20px black;
    
}

h1 {
    text-align: center;
}

p {
    padding: 10px;
    text-align: center;
    
}

a {
    color: white;
    letter-spacing: 1.5px;
    padding: 0px;
}


aside {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../img/aside.jpg);
    background-color: #A160DE;
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: solid black 5px;
    
}

.trailer {
    position: fixed;
    right: 10px;
    bottom: 0px;
    width: 250px;
    height: 250px;
    transition: width 1s, height 1s;
}
  
.trailer:hover {
width: 300px;
height: 300px;
}

section, footer {
    background-color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px  rgba(0, 0, 0, 0.575);
    
}

section:first-child {
    
    margin: 30px;
    line-height: 1.5;
    height: auto;
    min-width: 400px;
    max-width: 400px;
}

.hosts {
    color: #A160DE;
    font-size: 19px;
}

section:last-child {
    
    margin: 30px;
    line-height: 1.5;
    height:200px;
    margin-top: 20px;
    min-width: 400px;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;     
}

label, input {
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#loginUser {
 position: relative;
 left: 18px;
}

footer {
    
    min-width: 400px;
    max-width: 400px;
    text-align: center;
    margin-left: 30px;
}

[type="submit"] {
    background-color: #A160DE;
    color: white;
    align-self: flex-end;
    margin-right: 75px;
    margin-top: 10px;   
}

#invitade {
    position: relative;
    left: 18px;
    bottom: 35px;
} 

.font {
    font-family: 'Josefin Slab', serif;
    margin-top: 10px;
}

@media screen and (max-width: 1280px) {
    body {
        padding-top: 0px;
    }
    section:first-child, section:last-child {
        margin: 10px;
    } 
    footer{
        margin-left: 12px;
    }
    .trailer {
        display: none;
    }
    aside {
        display: none;
    }
    img {
        width: 300px;
        margin-left: 50px;
    }
  
}

@media screen and (max-width: 640px) {
    body {
        padding-top: 0px;
    }
    main{
       padding-left: 70px; 
       
    }
    footer {
        margin-left: 73px;
    }
    
    section:first-child, section:last-child {
        margin: 3px;
    } 

    img {
        width: 200px;
        margin-left: 160px;
    }

    .trailer {
        display: none;
    }
    aside {
        display: none;
    }

}






